html,body{
  background-color: #000;
  margin: 0;padding: 0;
  overflow: hidden;
}
button{
  border: none;
  font-family: monospace;
}
#output{
  position: relative;
  width: 100%;
  background-color: #888;
}
#help{
  position: fixed;
  top: 0;
  left: 1vw;
  outline: none;
  text-align: left;
  padding: 0.3em;
}
